* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #495057;
  font-family: "Dongle", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  color: #84a59d;
  background-color: #343a40;
}
header nav {
  margin: 7px 0;
}
header h1 {
  font-weight: bold;
  font-size: 3em;
  margin: 0;
  color: #e9ecef;
}
header a {
  text-decoration: none;
  color: #e9ecef;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
}
header nav ul li a:hover {
  /* background: #92b5bb; */
  color: #7993ad;
  border-radius: 15px;
  margin: 0.2em;
  padding: 0.8em;
}
h2 {
  font-weight: bold;
  font-size: 3em;
  margin-left: 25px;
}
.hero {
  height: 500px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/pexels-eberhard-grossgasteiger-1292115.jpg");

  background-size: cover;
  background-position: center;
}

.about {
  display: flex;
  max-width: 830px;
  margin: 0 auto;
}
.about div {
  padding: 40px;
}
.about-me-img img {
  border-radius: 35%;
}
.about-me-text h2 {
  text-align: left;
  margin: 0;
}
.about-me-text p {
  font-size: 22px;
}
p.hi {
  font-size: 30px;
  font-weight: bold;
  color: #92b5bb;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}
.card {
  position: relative;
  text-align: center;
  display: inline-block;
  padding: 5px;
}
.card img {
  width: 475px;
  height: 475px;
  display: block;
}
#run-buddy {
  width: 960px;
  height: 300px;
}
.img-txt {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.contact-img {
  height: 64px;
  width: 64px;
}

ul.contact-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}
ul.contact-container li {
  margin: 0 auto;
}
@media screen and (max-width: 980px) {
  header {
    padding: 10px;
    justify-content: center;
    position: relative;
  }
  header h1 {
    text-align: left;
    width: 100%;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
  }

  header nav ul li a {
    font-size: 20px;
  }

  .hero {
    width: 100%;
  }
  #run-buddy {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    width: 100%;
  }

  .card img {
    width: 375px;
    height: 375px;
    display: block;
  }
  #run-buddy {
    width: 500px;
    height: 200px;
  }
}
@media screen and (max-width: 575px) {
  header h1 {
    text-align: left;
    width: 100%;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
  }
  .about {
    flex-direction: column;
  }
  .about-me-img {
    margin: 0 auto;
  }
  .about-me-text h2 {
    text-align: center;
  }
  .card img {
    width: 300px;
    height: 300px;
    display: block;
  }
  #run-buddy {
    width: 300px;
    height: 100px;
  }
  h2 {
    text-align: center;
  }
  #contact {
    width: 100%;
  }
}
